.settings__list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.settings__setting {
  padding: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column span {
  margin-right: 6px;
}
.settings__setting-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting-column:last-child {
  opacity: 0.6;
}
