.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  color: white;
}
.badge-mid {
  width: 18px;
  height: 18px;
  font-size: 10px;
}
.badge-small {
  width: 5px;
  height: 5px;
}
